{% extends "base.html" %}
{% load i18n %}
{% block title %}HOME{% endblock %}

{% block content %}
<!--<h1>Autoservisas</h1>-->
<h3><i>{% trans "Welcome to 'Pipiro' autoservice!" %}</i></h3>
<br><b>{% trans "Our service statistics:" %}</b><br>

<ul>
    <li><b>{% trans "Services already provided:" %}</b> {{ num_paslaugu }}</li>
    <li><b>{% trans "Orders fulfilled:" %}</b> {{ num_uzsakymai }}</li>
    <li><b>{% trans "Cars/Customers Serviced:" %}</b> {{ num_automobiliai }}</li>
</ul>
<p> {% trans "Your visits: "%}{{ num_apsilankymai }}</p>
{% endblock %}