{% extends "base.html" %}

{% block title %}Užsakymai{% endblock %}

{% block content %}
<h4>Užsakymo numeris: {{ uzsakymas.id }}</h4>
<p><b>Klientas: </b>{{ uzsakymas.automobilis.klientas}}</p>
<p><b>Valstybiniai numeriai: </b>{{ uzsakymas.automobilis.valstybinis_nr }}</p>
<p><b>Data: </b>{{ uzsakymas.data }}</p>
<p><b>Gražinti iki: </b>{{ uzsakymas.terminas }}</p>
<p><b>Vartotojas: </b>{{ uzsakymas.vartotojas }}</p>
<p><b>Užsakymo būsena: </b>{{ uzsakymas.get_status_display }}</p>
<hr>
<table class="table table-hover">
  <thead>
    <tr class="table-info">
      <th scope="col">Paslaugos pavadinimas:</th>
      <th scope="col">Kiekis</th>
      <th scope="col">Kaina</th>
      <th scope="col">Viso:</th>
    </tr>
  </thead>
  <tbody>
  {% for eilute in uzsakymas.eilutes.all %}
    <tr>
      <th scope="row">{{eilute.paslauga.pavadinimas}}</th>
      <td>{{eilute.kiekis}}</td>
      <td>{{eilute.paslauga.kaina}}</td>
      <td>{{eilute.kaina}}</td>
    </tr>
  {% endfor %}
  <tr class="table-active">
      <td colspan="3"><i><b>Bendra paslaugų suma: </b></i></td>
      <th><i>{{uzsakymas.suma}}</i></th>
  </tr>
  </tbody>
</table>

<h4>Atsiliepimai:</h4>
  {% if uzsakymas.atsiliepimai.all %}
    {% for atsiliepimas in uzsakymas.atsiliepimai.all %}
      <hr>
      <strong>{{ atsiliepimas.klientas_id }}</strong>, <em>{{ atsiliepimas.date_created}}</em>
      <p>{{ atsiliepimas.atsiliepimas }}</p>
    {% endfor %}
  {% else %}
    <p>Atsiliepimų dar nėra.</p>
  {% endif %}
{% if user.is_authenticated %}
<div class="fieldWrapper">
    <hr><br/>
    <h4>Palikite atsiliepimą:</h4>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.atsiliepimas }}
        <input type="submit" value="Siųsti">
    </form>
</div>
{% endif %}
{% endblock %}

